body {
    background-color: #2a52be;
    width: 800px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.navbar {
    float: left;
}

li.navbar a {
    display: block;
    color: #F8F0E3;
    background-color: #0038a8;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li.navbar a:hover {
    background-color: #191970;
}

h1, h2, h3, h4, h5, h6 {
    color: orangered
}

p {
    color: #F8F0E3
}

button {
    border-radius: 3px;
    outline: none;
    color: white;
    background-color: #0038a8;
    border-color:#191970;
    font-size: 24px;
}

button:hover {
    background-color:#191970;
}

.fade-in {
	opacity: 1;
	animation-name: fade_in_opacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fade_in_opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}